@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #181818;
}

img {
  max-width: 100%;
}

.mobile-menu,
.close-menu {
  display: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.mobile-menu:hover,
.close-menu:hover {
  color: #0088a9;
}

li,
a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  margin-top: 10px;
}

header h1 a {
  font-size: 25px;
  cursor: pointer;
}

.links {
  list-style: none;
}

.links li {
  display: inline-block;
  padding: 0px 20px;
}

.links li a {
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.links li a:hover {
  color: #0088a9;
}

.main-content {
  max-width: 85vw;
  margin: auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  background-color: #282828;
}

.saved-memes-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  background-color: #282828;
}

/* Styling for Canvas Container */

.meme-editor-wrapper {
  display: none;
  grid-template-columns: 1fr 1fr;
  background-color: #282828;
}

.canvas-wrapper {
  width: 80vh;
  max-width: 100vh;
  overflow: hidden;
}

.canvas-container {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  background-color: #282828;
  overflow: hidden;
}

#meme-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.meme-img {
  cursor: pointer;
  transition: transform 0.2s;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.meme-img:hover {
  transform: scale(1.03);
  opacity: 0.9;
}

.size-selector {
  position: relative;
  width: 200px;
}

.size-selector::after {
  content: attr(value);
  position: absolute;
  top: -1.5em;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  background-color: #ffffff;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 2em;
}

.editor-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 30px;
  background-color: #282828;
}

/* Generic styles for individual controls */

.editor-tools input,
.editor-tools select,
.editor-tools button {
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.editor-tools input[type='text'],
.editor-tools select {
  width: 250px;
}

.editor-tools input[type='text'] {
  cursor: text;
}

.editor-tools input[type='color'] {
  width: 80px;
  height: 50px;
}

.editor-tools input[type='range'] {
  accent-color: #282828;
}

.editor-tools button {
  background-color: #282828;
  color: #edf2f4;
}

.editor-tools button:hover {
  background-color: #4a4e69;
}

.editor-tools .btn-download {
  text-decoration: none;
  display: inline-block;
  color: #edf2f4;
  margin: auto 0;
}

.editor-tools .btn-download:hover {
  background-color: #d90429;
}

/* Groups styling */

.text-controls,
.size-controls,
.line-controls,
.alignment-controls,
.position-controls,
.new-features,
.download-control {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  width: 60%;
  padding: 15px;
  border-radius: 5px;
  background-color: #0088a9;
}

/* New features icons */

.sticker-selector {
  font-size: 24px;
}

.share-facebook {
  background-color: #1877f2;
  color: #fff;
}

.pick-image-device {
  display: block;
}

@media screen and (max-width: 1180px) {
  .mobile-menu,
  .close-menu {
    display: none;
  }

  li,
  a {
    font-size: 16px;
    margin-top: 5px;
  }

  header {
    padding: 25px 8%;
  }

  header h1 a {
    font-size: 22px;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 860px) {
  .mobile-menu {
    display: block;
    font-size: 20px;
    color: #ffffff;
    margin-top: 8px;
  }

  .close-menu {
    display: none;
    color: black;
    z-index: 1;
    font-size: 20px;
  }

  header {
    padding: 25px 8%;
  }

  .nav {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: #ffffffcc;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
  }

  .links li a {
    color: #181818;
    font-size: 5vw;
  }

  header h1 a {
    font-size: 20px;
  }

  .main-content {
    max-width: 100vw;
  }
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: #181818;
  }

  .meme-img {
    padding: 5px;
  }
}
